<nav class="navbar navbar-fixed-top mc-navbar-custom1">
  <div class="container-fluid">
    <a class="navbar-brand mc-navbar-text1">
      Profile
    </a>
    <a ng-click="model.updateUser(model.user)" class="navbar-link navbar-text pull-right mc-navbar-icon-rightmost">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>
</nav>

<div class="container-fluid">
  <form class="mc-container-under-navbar">
    <div ng-show="model.feedbackError" class="alert alert-danger">
      {{model.feedbackError}}
    </div>
    <div ng-show="model.feedbackSuccess" class="alert alert-info">
      {{model.feedbackSuccess}}
    </div>
    <label for="username">Username</label>
    <input ng-model="model.user.username" id="username" class="form-control" type="text" placeholder="efitzgerald"/>
    <label for="email">Email</label>
    <input ng-model="model.user.email" id="email" class="form-control" type="email"
           placeholder="missing-email@missing-email.com"/>
    <label for="first-name">First Name</label>
    <input ng-model="model.user.firstName" id="first-name" class="form-control" type="text" placeholder="Ella"/>
    <label for="last-name">Last Name</label>
    <input ng-model="model.user.lastName" id="last-name" class="form-control" type="text" placeholder="Fitzgerald"/>
    <a ng-click="model.updateUser(model.user)" class="btn btn-success btn-block">
      Update
    </a>
    <a ng-click="model.deleteUser(model.user)" class="btn btn-danger btn-block">
      Unregister
    </a>
    <a ng-click="model.goToWebsites()" class="btn btn-primary btn-block">
      Websites
    </a>
    <a class="btn btn-danger btn-block" href="#/login">
      Logout
    </a>
  </form>
</div>

<nav class="navbar navbar-fixed-bottom mc-navbar-custom1">
  <div class="container-fluid">
    <a ng-click="model.goToProfile()" class="navbar-link navbar-text pull-right mc-navbar-icon-rightmost">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>

