/* Navigation */
.mc-navbar-custom1 {
  background-color: blue;
}


.mc-navbar-custom2 {
  background-color: white;
}


.mc-navbar-text1 {
  color: white;
  font-weight: bold;
}

.mc-navbar-text2 {
  color: black;
  font-weight: bold;
}


.mc-navbar-icon-rightmost {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.mc-navbar-icon-leftmost {
  color: white;
}


/* Forms */
.mc-container-under-navbar {
  margin-top: 50px;
  padding-top: 15px
}

.mc-input-icon {
  position: relative;
}

.mc-input-icon-right > i {
  right: 0;
}

/* Unordered List */
.mc-list-item-custom-1 {
  border-top: 0 none;
  border-bottom: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}


/* Container */
.customContainer {
  width: 600px;
  margin: auto;
}


.customRow {
  clear: both;
}


.customColumn-6 {
  width: 300px;
  float: left;
}


.customColumn-3 {
  width: 150px;
  float: left;
}


.customColumn-4 {
  width: 200px;
  float: left;
}


.customColumn-1 {
  width: 50px;
  float: left;
}
