<form>
  <div class="form-group mc-container-under-navbar">
    <label for="title">Text</label>
    <input ng-model="model.widget.text" id="title" class="form-control" type="text" placeholder="Lorem ipsum."/>
  </div>
  <div class="form-group">
    <label for="rows">Rows</label>
    <input ng-model="model.widget.rows" id="rows" class="form-control" type="number" placeholder="42" min="0"/>
  </div>
  <!--<div class="form-group">-->
    <!--<label for="ph">Placeholder</label>-->
    <!--<input ng-model="model.widget.placeholder" id="ph" class="form-control"/>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="format">Formatted</label>-->
    <!--<input ng-model="model.widget.formatted" id="format" class="form-control mc-checkbox" type="checkbox"/>-->
  <!--</div>-->
</form>
<a ng-click="model.updateIdealDateWidgetByUser(model.widget, model.uid)"
   class="btn btn-success btn-block mc-widget-edit-delete">
  Update IDEAL DATE
</a>
<!--<a ng-click="model.deleteWidget(model.widget, model.uid)" class="btn btn-danger btn-block mc-widget-edit-delete">-->
  <!--Delete YouTube-->
<!--</a>-->


