<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row container-fluid">
    <div class="col-xs-12">
      <a ng-click="model.goToListWidget()" class="navbar-text pull-left mc-navbar-icon-leftmost">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="navbar-header navbar-brand mc-navbar-text2">
        Choose Widget
      </a>
    </div>
  </div>
</nav>

<div class="row container-fluid">
  <div class="col-xs-12">
    <ul class="list-group mc-container-under-navbar">
      <a ng-click="model.createWidget('HEADER')">
        <li class="list-group-item mc-list-item-custom-1">
          Header
        </li>
      </a>
      <a href="#">
        <li class="list-group-item mc-list-item-custom-1">
          Label
        </li>
      </a>
      <a href="#">
        <li class="list-group-item mc-list-item-custom-1">
          HTML
        </li>
      </a>
      <a href="#">
        <li class="list-group-item mc-list-item-custom-1">
          Text Input
        </li>
      </a>
      <a href="#">
        <li class="list-group-item mc-list-item-custom-1">
          Link
        </li>
      </a>
      <a href="#">
        <li class="list-group-item mc-list-item-custom-1">
          Button
        </li>
      </a>
      <a ng-click="model.createWidget('IMAGE')">
        <li class="list-group-item mc-list-item-custom-1">
          Image
        </li>
      </a>
      <a ng-click="model.createWidget('YOUTUBE')">
        <li class="list-group-item mc-list-item-custom-1">
          YouTube
        </li>
      </a>
      <a href="#">
        <li class="list-group-item mc-list-item-custom-1">
          Data Table
        </li>
      </a>
      <a href="#">
        <li class="list-group-item mc-list-item-custom-1">
          Repeater
        </li>
      </a>
    </ul>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="row container-fluid">
    <div class="col-xs-12">
      <a ng-click="model.goToProfile()" class="navbar-link navbar-text pull-right mc-navbar-icon-rightmost">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>

