<nav class="navbar navbar-fixed-top mc-navbar-custom1">
  <div class="container-fluid">
    <a class="navbar-brand mc-navbar-text1" href="profile.view.client.html">
      Profile
    </a>
    <a class="navbar-link navbar-text pull-right mc-navbar-icon-rightmost" href="#">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>
</nav>

<div class="container-fluid">
  <form class="mc-container-under-navbar">
    <label for="username">Username</label>
    <input id="username" class="form-control" type="text" placeholder="efitzgerald"/>
    <label for="email">Email</label>
    <input id="email" class="form-control" type="email" placeholder="efitzgerald@gmail.com"/>
    <label for="first-name">First Name</label>
    <input id="first-name" class="form-control" type="text" placeholder="Ella"/>
    <label for="last-name">Last Name</label>
    <input id="last-name" class="form-control" type="text" placeholder="Fitzgerald"/>
    <a class="btn btn-primary btn-block" href="../website/website-list.view.client.html">
      Websites
    </a>
    <a class="btn btn-success btn-block" href="login.view.client.html">
      Logout
    </a>
  </form>
</div>

<nav class="navbar navbar-fixed-bottom mc-navbar-custom1">
  <div class="container-fluid">
    <a class="navbar-link navbar-text pull-right mc-navbar-icon-rightmost" href="#">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>

