<div class="container-fluid">
  <h1>Register</h1>
  <form>
    <input ng-model="model.username" type="text" class="form-control" placeholder="username"/>
    <input ng-model="model.password" type="password" class="form-control" placeholder="password"/>
    <input ng-model="model.vfyPassword" type="password" class="form-control" placeholder="verify password"/>
    <label for="suitor" stye="solid:black">Male?</label>
    <input ng-model="model.suitorFlag" id="suitor" type="checkbox" class="form-control mc-checkbox"/>

    <a ng-click="model.register(model.username, model.password, model.vfyPassword, model.suitorFlag)"
       class="btn btn-primary btn-block">
      Register
    </a>
    <a class="btn btn-danger btn-block" href="#/login">
      Cancel
    </a>
  </form>
</div>
