

<!--<div ng-switch="model.widget.widgetType">-->
  <!--<div ng-switch-when="HEADER">-->
    <!--<ng-include src="'views/widget/editors/widget-heading-edit.view.client.html'"></ng-include>-->
  <!--</div>-->
  <!--<div ng-switch-when="HEADER">-->
    <!--<ng-include src="'views/widget/editors/widget-heading-edit.view.client.html'"></ng-include>-->
  <!--</div>-->
<!--</div>-->

<!-- Need suitor flag, image widget, list of matches (firstName, age) and mates (firstName, age, branch, rank ), and
basic info
 -->

<div>
  My Private Page
</a>
</div>

<p>{{model.user}}</p>
<p>photourl {{model.photoUrl}}</p>


<div ng-switch="model.isSuitor.toString()">
  <div ng-switch-when="true">
    <ng-include src="'views/page/templates/privatePages/suitor.private.page.view.client.html'"></ng-include>
  </div>
  <div ng-switch-when="false">
    <ng-include src="'views/page/templates/privatePages/match.private.page.view.client.html'"></ng-include>
  </div>
</div>


<div>
  <a class="btn btn-success btn-block" ng-click="model.goToPublicPage()">
    Goto Public Page
  </a>
</div>

