<div ng-switch="model.isSuitor.toString()" id='mainpubpage'>
  <a class="btn btn-success btn-block">
    My Public Page
  </a>
  <p>{{model.user}}</p>
  <p>{{model.photoUrl}}</p>


  <div ng-switch-when="true" id='mainpubpagemale'>
    <ng-include src="'views/page/templates/publicPages/suitor.public.page.view.client.html'"></ng-include>
  </div>
  <div ng-switch-when="false">
    <ng-include src="'views/page/templates/publicPages/match.public.page.view.client.html'"></ng-include>
  </div>
</div>












