<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row container-fluid">
    <div class="col-xs-12">
      <a ng-click="model.goToWebsiteList()" class="navbar-text pull-left mc-navbar-icon-leftmost">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="navbar-header navbar-brand mc-navbar-text2">
        Pages
      </a>
      <a ng-click="model.goToNewPage()" class="navbar-text pull-right mc-navbar-icon-rightmost">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>
  </div>
</nav>

<div class="row container-fluid">
  <div class="col-xs-12">
    <ul class="list-group mc-container-under-navbar">
      <li ng-repeat="page in model.pages" class="list-group-item mc-list-item-custom-1">
        <a ng-click="model.goToWidgetList(page._id)">{{page.name}}</a>
        <a ng-click="model.goToEditPage(page._id)"><span class="glyphicon glyphicon-cog pull-right"></span></a>
      </li>
    </ul>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="row container-fluid">
    <div class="col-xs-12">
      <a ng-click="model.goToProfile()" class="navbar-link navbar-text pull-right mc-navbar-icon-rightmost">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>

