<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row container-fluid">
    <div class="col-xs-12">
      <a class="navbar-text pull-left mc-navbar-icon-leftmost" href="../../website/templates/website-list.view.client.html">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="navbar-header navbar-brand mc-navbar-text2" href="../../widget/templates/widget-list.view.client.html">
        Pages
      </a>
      <a class="navbar-text pull-right mc-navbar-icon-rightmost" href="page-new.view.client.html">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>
  </div>
</nav>

<div class="row container-fluid">
  <div class="col-xs-12">
    <ul class="list-group mc-container-under-navbar">
      <li ng-repeat="page in model.pages" class="list-group-item mc-list-item-custom-1">
        {{page.name}}
        <!-- TODO: href! -->
        <a href="page-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
      </li>
    </ul>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="row container-fluid">
    <div class="col-xs-12">
      <a class="navbar-link navbar-text pull-right mc-navbar-icon-rightmost" href="../../user/templates/profile.view.client.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>

